*.iml
storm-test/.idea/
storm-test/target/
storm-test/logs/
flink/.idea/
flink/target/
live_data/target/
live_data/.idea/
scala_word_count/target/
scala_word_count/.idea/
spring cloud/eureka-client/.idea/
spring cloud/eureka-client/target/
spring cloud/mc-movie-eureka-server/.idea/
spring cloud/mc-movie-provider-feign/.idea/
spring cloud/mc-movie-provider-feign/target/
big-data/hadoop-hdfs/.idea/
big-data/hadoop-hdfs/target/
python/kuduan/.idea/
spring cloud/mv-movie-zuul/.idea/
big-data/sbt-hdfs/.idea/
